<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>支付中心</title>
		<link rel="stylesheet" type="text/css" href="./static/css/amazeui.min.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/main2.css" />


		


	</head>

	<body>
		<div class="pay">
			<!--主内容开始编辑-->
			<div class="tr_recharge">
				<div class="tr_rechtext">
					<p class="te_retit"><img src="./static/img/coin.png" alt="" />支付中心</p>
					<p>订单号：{{ order_id }}</p>					
				</div>
				
					<div class="tr_rechbox">
						<div class="tr_rechhead">
							<img src="./static/img/ys_head2.png" />
							<p>
								{{ goods }}
							</p>
							<div class="tr_rechheadcion">
								<!--<img src="images/coin.png" alt="" />
								<span>当前余额：<span>1000招兵币</span></span>-->
							</div>
						</div>

					
						<div class="tr_rechli am-form-group">
					
							<!--<span>1招兵币=1元 10元起充</span>-->
						</div>
						<div class="tr_rechoth am-form-group">
							<span>其他金额：</span>
							<input type="number" min="10" max="10000" value="10.00元" class="othbox" data-validation-message="充值金额范围：10-10000元" />
							<!--<p>充值金额范围：10-10000元</p>-->
						</div>
						<div class="tr_rechcho am-form-group">
							<span>充值方式：</span>
							
							<label class="am-radio" style="margin-right:30px;">
							        <input type="radio" name="radio1" value="2"   checked="checked" data-am-ucheck data-validation-message="请选择一种充值方式"><img src="./static/img/zfbpay.png"/>
								</label>
							<label class="am-radio">
							        <input type="radio" name="radio1" value="1" data-am-ucheck required data-validation-message="请选择一种充值方式"><img src="./static/img/wechatpay.png"/>
								</label>
								
								<label class="am-radio" style="margin-top:15px;vertical-align:center;">
							       <span style="color:#ff6633;">推荐使用支付宝支付</span>
								</label>
								
						</div>

						<!-- <div class="tr_rechnum">
							<span>预留邮箱：</span>
							<p class="rechnum" style="font-size:17px;color:black;font-weight:normal">{{ email }}</p>
						</div> -->

						
						<div class="tr_rechnum">
							<span>应付金额：</span>
							<p class="rechnum">{{ price }}元</p>
						</div>

					

					</div>
					
					<div>
						<input type="hidden" id="price"  value={{ price }} > 
						<input type="hidden" id="goods"   value={{ goods  }}  > 
						<input type="hidden" id="order_id"  value={{ order_id }}   > 
						
						<input type="hidden" id="client_type"  value={{ client_type }}   > 

						<input type="hidden" id="email"  value={{ email }}   > 
						<input type="hidden" id="serialno"  value={{ serialno }}   > 

					</div>


					<div class="tr_paybox">
						<input type="submit"  id="paybtn" value="确认支付" class="tr_pay am-btn" />
						<span>温馨提示：支付成功后即刻发送到您的预留邮箱 {{ email }}，请留意你的预留邮箱地址。</span>
					</div>

			

					<a id="jumpcall"></a>

				
			</div>
		</div>
	
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="./static/js/amazeui.min.js"></script>
		<script type="text/javascript" src="./static/js/ui-choose.js"></script>
		<script type="text/javascript" src="./static/js/md5.js"></script>
		<script type="text/javascript">

$('#paybtn').click(function() {

	var paytype =$("input[type='radio']:checked").val();


var client_type =$('#client_type').val()


var paytype =$("input[type='radio']:checked").val();

var price =$('#price').val()
var goods =$('#goods').val()
var order_id =$('#order_id').val()

var email =$('#email').val()
var serialno =$('#serialno').val()

//md5
var md5Temp=$.md5(order_id+price);
var md5Result=$.md5(md5Temp+"cwMe");





var l1 = {"order_id":order_id,"order_type":paytype==1?"wechat":"alipay","order_price":price,"order_name":goods,"sign":md5Result,"email":email,"serialno":serialno,"redirect_url":"www.qq.com","extension":"1"};





$.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
           
            //请求地址
            url : "http://192.168.1.104:7001/api/order",
			//数据，json字符串
			
			contentType:"application/json",
			
			dataType:"json",
            data: JSON.stringify(l1),
            //请求成功
            success : function(result) {

				client_type==1&&paytype==2?mobileAlipay(result.qr_url):pcAndWxPay(result.qr_url);

				//alert(result.qr_url);
				//alert("su:"+JSON.stringify(result));


				//testqr="wxp://f2f1druhwWEtaRNfcLEGqHGmoB4_i-LF4Mna";

			
				//document.getElementById("jumpcall").onclick();  


				console.log(result);
				
            },
            //请求失败，包含具体的错误信息
            error : function(e){
				alert("er");
				alert(e.responseText);
                console.log(e.status);
                console.log(e.responseText);
            }
        });




}

)


function  pcAndWxPay(qr_url){
	var paytype =$("input[type='radio']:checked").val();
	var p=paytype==1?"wechat":"alipay";


alert("调用pcAndWxPay");

var params = {
	    paytype: p,
		qr_url:qr_url
			
			 }
			 

       $("body").append("<form></form>");
        $("body").find("form").attr("action", '/pcpay');
        $("body").find("form").attr("method", "post");
        $("body").find("form").attr("style", "display:none");
        $.each(params, function (k, v) {
            $("body").find("form").append("<input type='text' name='" + k + "' value = '" + v + "'></input>");
        });
        $("body").find("form").submit();



//window.location.href = "pc.html?paytype="+p+"&qr_url="+qr_url;//


}








function  mobileAlipay(qr_url){

	alert("调用mobileAlipay");

	
	$('#jumpcall').attr("href",qr_url); 
	$('#jumpcall')[0].click();



}






			// 将所有.ui-choose实例化
			$('.ui-choose').ui_choose();
			// uc_01 ul 单选
			var uc_01 = $('#uc_01').data('ui-choose'); // 取回已实例化的对象
			uc_01.click = function(index, item) {
				console.log('click', index, item.text())
			}
			uc_01.change = function(index, item) {
				console.log('change', index, item.text())
			}
			$(function() {
				$('#uc_01 li:eq(3)').click(function() {
					$('.tr_rechoth').show();
					$('.tr_rechoth').find("input").attr('required', 'true')
					$('.rechnum').text('10.00元');
				})
				$('#uc_01 li:eq(0)').click(function() {
					$('.tr_rechoth').hide();
					$('.rechnum').text('10.00元');
					$('.othbox').val('');
				})
				$('#uc_01 li:eq(1)').click(function() {
					$('.tr_rechoth').hide();
					$('.rechnum').text('20.00元');
					$('.othbox').val('');
				})
				$('#uc_01 li:eq(2)').click(function() {
					$('.tr_rechoth').hide();
					$('.rechnum').text('50.00元');
					$('.othbox').val('');
				})
				$(document).ready(function() {
					$('.othbox').on('input propertychange', function() {
						var num = $(this).val();
						$('.rechnum').html(num + ".00元");
					});
				});
			})

			$(function() {
				$('#doc-vld-msg').validator({
					onValid: function(validity) {
						$(validity.field).closest('.am-form-group').find('.am-alert').hide();
					},
					onInValid: function(validity) {
						var $field = $(validity.field);
						var $group = $field.closest('.am-form-group');
						var $alert = $group.find('.am-alert');
						// 使用自定义的提示信息 或 插件内置的提示信息
						var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

						if(!$alert.length) {
							$alert = $('<div class="am-alert am-alert-danger"></div>').hide().
							appendTo($group);
						}
						$alert.html(msg).show();
					}
				});
			});
		</script>
	</body>

</html>